body {
  margin: 0;
  font-family:"Courier New", "Courier", monospace;
  padding: 0;
  background: linear-gradient(to right, #cee397 , #8db1ab);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  cursor: pointer
}


